---
---
<nav id="main-nav">
  <a href="/" class="nav-logo-img">
    <img src="/assets/svgLogo.svg" alt="El Portal Yelm" height="40" />
  </a>
  <ul class="nav-links">
    <li><a href="#menu">Menu</a></li>
    <li><a href="#story">Our Story</a></li>
    <li><a href="#hours">Hours</a></li>
    <li><a href="#location">Find Us</a></li>
  </ul>
  <button class="nav-cta" onclick="document.getElementById('order').scrollIntoView()">Order Now</button>
</nav>
